*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.hide{
  display: none;
}

body{
  background: #CFC2D4;
}
.everything{
  font-family: 'Staatliches', cursive;
  color: #1B264F;
}

button{
  width: 200px;
  height: 50px;
  color: #1B264F;
  font-size: 15px;
  background: #DEE4EE;
  font-family: 'Staatliches', cursive;
}
.q-words{
  display: flex;
  justify-content: center;
  margin: 50px 10px;
}
h1{
  text-align: center;
  font-size: 60px;
}
.answer{
  text-align: center;
}
.directions{
  text-align: center;
  color: #151C1E;
}

@media screen and (max-width: 1000px){
  body{

    background:#1B264F
  }
  .everything{
    color: #CFC2D4;
  }
  .q-words{
    margin: 50px 10px;
  }
  button{
    height: 100px;
    width: 100px;
  }
  .directions{
    color: #CFC2D4;
  }

}

@media screen and (max-width: 800px){
  .q-words{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 10px;
  }
  button{
    height: 50px;
    width: 200px;
  }
  .directions{
    color: #DEE4EE;
  }
}
